html {
    background-color: #f5f5f5;
}

header {
    background-color: #fff;
}


header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}



header li a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

header li a:hover {
    background-color: #f4f4f4;
}

.logo{
    display: block;
    float: left;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 20px;
}

.menu{
    max-height: 0;
    transition: max-height .5s ease-in-out;
}

.menu-button{
    display: none;
}


header .menu-button:checked ~ .menu{
    max-height: 300px;
}

.menu-icon{
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;

}

.navicon{
    background-color: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .5s ease-in-out;
    width: 18px;
}

.navicon:before,.navicon:after{
    background-color: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .5s ease-in-out;
    width: 100%;
}

.navicon:before{
    top: 5px;
}

.navicon:after{
    top: -5px;
}

.menu-button:checked ~ .menu-icon .navicon {
    background: transparent;
}
.menu-button:checked ~ .menu-icon .navicon:before {
    transform: rotate(45deg);
    top: 0;
}
.menu-button:checked ~ .menu-icon .navicon:after {
    transform: rotate(-45deg);
    top: 0;
}
@media (min-width: 600px) {
    header li{
        display: inline-block;
    }

    .menu {
        float: right;
        max-height: none;
    }

    .menu-icon{
        display: none;
    }
}